<p id="notice"><%= notice %></p>

<h1>Listing Meetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.name, meeting %></td>
        <td><%= meeting.start_datetime %></td>
        <td><%= meeting.end_datetime %></td>
        <td><%= meeting.description %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Delete', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<nav>
  <%= link_to 'New Meeting', new_meeting_path %> | 
  <%= link_to 'Your Calendar', user_path(current_user.nickname), class: "nav_links" %>
</nav>