<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_datetime %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_datetime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<% if @meeting.user_id == current_user.id %>
  <%= link_to 'Edit This Meeting', edit_meeting_path(@meeting), class: "nav_links" %> |
<% end %>
<%= link_to 'Your Upcoming Meetings', meetings_path, class: "nav_links" %> | 
<%= link_to 'Your Calendar', user_path(current_user.nickname), class: "nav_links" %>

