<h1>Static#welcome</h1>
<p>Find me in app/views/static/welcome.html.erb</p>

<%= session[:user_id] %>
<%= current_user %>

<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", logout_path %>

  <% providers = ['facebook', 'twitter', 'github'] %>

  <% if Authorization.find_by(user_id: current_user.id, provider: 'facebook') %>
    Your <%= link_to "Facebook profile", "https://facebook.com" %> linked to this account.
  <% else %>
    <%= link_to "Log in with Facebook", "auth/facebook" %>
  <% end %>

  <% if Authorization.find_by(user_id: current_user.id, provider: 'twitter') %>
    Your <%= link_to "Twitter profile", "https://twitter.com/#{current_user.find_auth('twitter').nickname}" %> linked to this account.
  <% else %>
    <%= link_to "Log in with Twitter", "auth/twitter" %>
  <% end %>

  <% if Authorization.find_by(user_id: current_user.id, provider: 'github') %>
    Your <%= link_to "Github profile", "https://github.com/#{current_user.find_auth('github').nickname}" %> linked to this account.
  <% else %>
    <%= link_to "Log in with Github", "auth/github" %>
  <% end %>

<% else %>
  <%= link_to "Signup", signup_path %>
<% end %>