<!DOCTYPE html>
<html>
<head>
  <title>SchedulerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to "Edit User", edit_user_path(current_user.nickname) %> | <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Signup", signup_path %>
  <% end %>

  <% flash.each do |name, message| %>
    <%= content_tag :div, message, class: name %>
  <% end %>

<%= yield %>

</body>
</html>
